$project__image__width: 24.2;
$project__image__height: 24.2;

$background-floater__size--S: .5rem;
$background-floater__size--M: 1.0rem;
$background-floater__size--L: 1.5rem;
$background-floater__size--XL: 3.0rem;

$project-colors: (
    
    
    /* Intro */
    project-0: (
    ),
    
    
    /* Christmallax */
    project-1: (
                    
        primary: hsla(50, 68%, 85%, 1),
                
        /* hsla analogues of the primary */
        primary--light-shade: hsla(38, 87%, 85%, 1),
        primary--dark-shade: hsla(66, 87%, 85%, 0.7),
        
        /* Saturation- and lightness-altered monochrome variant of the primary */                
        background: hsla(50, 35%, 33%, 1),
        
        accent: hsla(241, 28%, 52%, 1),
                
        /* Opacity-reduced versions of the accent */        
        image-background--before: hsla(241, 28%, 52%, 0.8),
        image-background--after: hsla(241, 28%, 52%, 0.3),
        
        /* Opacity-reducded versions of the light and dark-shade primaries */
        floater-background--S: hsla(38, 87%, 85%, 0.1),
        floater-background--M: hsla(66, 87%, 85%, 0.3),
        floater-background--L: hsla(38, 87%, 85%, 0.5),
        floater-background--XL: hsla(66, 87%, 85%, 0.7)
    ),
       
    /* Gameboy */
    project-2: (
                        
        primary: hsla(259, 96%, 79%, 1),    
        
        /* hsla analogues of the primary */
        primary--light-shade: hsla(292, 98%, 76%, 1),
        primary--dark-shade: hsla(243, 68%, 69%, 0.7),
        
        /* Saturation- and lightness-altered monochrome variant of the primary */        
        background: hsla(259, 27%, 19%, 1),
        
        accent: hsla(56, 96%, 79%, 1),
                        
        /* Opacity-reduced versions of the accent */
        image-background--before: hsla(56, 96%, 79%, 0.8),
        image-background--after: hsla(56, 96%, 79%, 0.3),
        
        /* Opacity-reducded versions of the light and dark-shade primaries */
        floater-background--S: hsla(243, 68%, 69%, 0.1),
        floater-background--M: hsla(292, 98%, 76%, 0.3),
        floater-background--L: hsla(243, 68%, 69%, 0.5),
        floater-background--XL: hsla(292, 98%, 76%, 0.7)
    ),
    
    /* SVG Christmas */
    project-3: (        
        
        primary: hsla(345, 76%, 79%, 1),
        
        /* hsla analogues of the primary */        
        primary--dark-tint: hsla(315, 47%, 66%, 1),
        primary--light-tint: hsla(13, 82%, 78%, 0.7),
        
        /* Saturation- and lightness-altered monochrome variant of the primary */
        background: hsla(345, 48%, 30%, 1),
                
        accent: hsla(128, 37%, 46%, 1),
        
        /* Opacity-reduced versions of the accent */
        image-background--before: hsla(128, 37%, 46%, 0.8),
        image-background--after: hsla(128, 37%, 46%, 0.3),
        
        /* Transparency-reducded versions of the light and dark-shade primaries */
        floater-background--S: hsla(13, 82%, 78%, 0.1),
        floater-background--M: hsla(315, 47%, 66%, 0.3),
        floater-background--L: hsla(13, 82%, 78%, 0.5),
        floater-background--XL: hsla(315, 47%, 66%, 0.7)
    )    
    
);


@function getProjectColor($project: project-1, $component: background) {
    @return map-get(map-get($project-colors, $project), $component);
}