@import '../../../helpers/project-options';

.project {
    
    position: fixed;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
            
    .project__image {                                        
        position: relative;
        width: #{$project__image__width}rem;
        height: #{$project__image__height}rem;
        margin: 0 auto;
        z-index: 5;
        
        &,
        & img,
        &:before,
        &:after, {
           border-radius: 100%; 
        }
        
        & img {
            z-index: 4;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
                
        &:before,
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;            
        }
        
        &:before {            
            .project-1 & {
                background-color: getProjectColor(project-1, image-background--before); 
            }
            .project-2 & {
                background-color: getProjectColor(project-2, image-background--before); 
            }
            .project-3 & {
                background-color: getProjectColor(project-3, image-background--before); 
            }
            
            top: -5px;
            left: -5px;
            z-index: 2;
        }
        
        &:after {            
            .project-1 & {
                background-color: getProjectColor(project-1, image-background--after); 
            }
            .project-2 & {
                background-color: getProjectColor(project-2, image-background--after); 
            }
            .project-3 & {
                background-color: getProjectColor(project-3, image-background--after); 
            }            
            bottom: -6px;
            right: 6px;
            z-index: 3;
        }                
    }
    
    .project__image-svg-container {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 5;
        
        /* Rotate the SVG so that animation begins from top */
        transform: rotate(-90deg);
    }
    .project__image-svg-loader {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        opacity: 0.7;            
    }
    
    .loader-circle {
        .project-1 & {
            stroke: getProjectColor(project-1, accent);
        }
        .project-2 & {
            stroke: getProjectColor(project-2, accent);
        }
        .project-3 & {
            stroke: getProjectColor(project-3, accent);
        }
    }
    
    .background-floaters {
        position: absolute;
        top: 70%;
        left: 50%;
        z-index: 1;
        transform: translate3d(-50%, -100%, 0);
    }
    
    .background-floater {
        
        position: absolute;
        width: $background-floater__size--M;
        height: $background-floater__size--M;
        
        .project-1 & {
            background-color: getProjectColor(project-1, floater-background--M);
        }
        .project-2 & {
            background-color: getProjectColor(project-2, floater-background--M);
        }
        .project-3 & {
            background-color: getProjectColor(project-3, floater-background--M);
        }
                        
        &.sizeS {
            width: $background-floater__size--S;
            height: $background-floater__size--S;
            
            .project-1 & {
                background-color: getProjectColor(project-1, floater-background--S);
            }
            .project-2 & {
                background-color: getProjectColor(project-2, floater-background--S);
            }
            .project-3 & {
                background-color: getProjectColor(project-3, floater-background--S);
            }            
        }        
        &.sizeL {
            width: $background-floater__size--L;
            height: $background-floater__size--L;
            
            .project-1 & {
                background-color: getProjectColor(project-1, floater-background--L);
            }
            .project-2 & {
                background-color: getProjectColor(project-2, floater-background--L);
            }
            .project-3 & {
                background-color: getProjectColor(project-3, floater-background--L);
            }             
        }
        &.sizeXL {
            width: $background-floater__size--XL;
            height: $background-floater__size--XL;
            
            .project-1 & {
                background-color: getProjectColor(project-1, floater-background--XL);
            }
            .project-2 & {
                background-color: getProjectColor(project-2, floater-background--XL);
            }
            .project-3 & {
                background-color: getProjectColor(project-3, floater-background--XL);
            } 
        }
        
        /*
         * Make random offsets for each of our floaters around the image
         */
        @for $i from 1 through 22 {
            &:nth-child(#{$i}) {
                top: #{-1 * $project__image__width + random(ceil($project__image__width * 1.3))}rem;
          
                left: #{ ( -1 * ( ($project__image__width * .5) + ( $project__image__width * random() * 0.5 ) )) + ((round(random()) * $project__image__width) ) }rem;
                
                /* TODO: Get the result after the last "+" to return 1 or -1 */
            }
        }         
    }
     
    .btn-container {
        position: relative;
        pointer: cursor;
    }
    
    .project__btn {
        margin: 0 auto;
        position: absolute;
        transform: translateX(-50%);        
        top: 0;
        left: 50%;
        line-height: 2em;
    }
    
    .btn__area {
        width: 33.333333%;
        height: 100%;
        //border-width: 0.2em;
        border-style: solid;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        
        .project-1 & {
            border-color: getProjectColor(project-1, primary);
        }
        .project-2 & {
            border-color: getProjectColor(project-2, primary);
        }
        .project-3 & {
            border-color: getProjectColor(project-3, primary);
        }
        
        &.btn__area--mid {
            left: 33.33333%;
            border-width: 1px 0;
        }
        &.btn__area--left {
            border-width: 1px 0 1px 1px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &.btn__area--right {
            left: auto;
            right: 0;
            border-width: 1px 1px 1px 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    
    .btn__text {
        
        .project-1 & {
            color: getProjectColor(project-1, primary);
        }
        .project-2 & {
            color: getProjectColor(project-2, primary);
        }
        .project-3 & {
            color: getProjectColor(project-3, primary);
        }
    }
 
    .project__title {
        
        .project-1 & {
            color: getProjectColor(project-1, primary);
        }
        .project-2 & {
            color: getProjectColor(project-2, primary);  // TODO: Implement dark color
        }
        .project-3 & {
            color: getProjectColor(project-3, primary);
        } 
                
        text-transform: uppercase;
        font-size: 3rem;
        color: $theme-color__primary-2--alt-light;
    }
    
    .subtitle {
        font-size: 1.6rem;
        
        .project-1 & {
            color: getProjectColor(project-1, primary--light-shade);
        }
        .project-2 & {
            color: getProjectColor(project-2, primary--light-shade);
        }
        .project-3 & {
            color: getProjectColor(project-3, primary--light-shade);
        }
    }
            
    
    
    @media screen and (min-width: #{map_get($map__breakpoint-sizes, 'medium')}) {
        
        .project__title {
            font-size: 5.0rem;
            
            /* Remove the line break from element main titles */
            br {
                display: none;
            }
        }
        .subtitle {
            font-size: 1.6rem;
        }
        

    }





    
}